In [16]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
import getpass # to get the password without it being visible
password = getpass.getpass()

········

In [5]:
# define a connection string
# dialect + driver: 

connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)

In [12]:
dloans = pd.read_sql_query('''select d.A2 as district_name, d.A3 as region,
sum(l.amount) as total_borrowed,count(l.loan_id) as nrofloanstaken,
round(avg(l.amount)) as avg_loanvvalue 
from loan l
join account a using(account_id)
join district d on d.A1 = a.district_id
group by district_name, region
order by sum(l.amount) desc
limit 30''', engine)

In [13]:
dloans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   district_name   30 non-null     object
 1   region          30 non-null     object
 2   total_borrowed  30 non-null     float64
 3   nrofloanstaken  30 non-null     int64
 4   avg_loanvvalue  30 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.3+ KB

In [14]:
dloans.head()

,district_name,region,total_borrowed,nrofloanstaken,avg_loanvvalue
0,Hl.m. Praha,Prague,12932412.0,84,153957.0
1,Brno - mesto,south Moravia,4049400.0,24,168725.0
2,Ostrava - mesto,north Moravia,3260220.0,20,163011.0
3,Karvina,north Moravia,3059820.0,24,127493.0
4,Zlin,south Moravia,3012768.0,17,177222.0