In [2]:
# import the toolset

from scipy.stats import ttest_1samp

In [3]:
from scipy.stats import norm # z distribution

In [4]:
import math

### summarize statistical test

- comparing sample to a known population (can use z-distribution)

- population mean = 85
- sample mean = 80.84
- collected 25 weights in the sample (25 boys)
- st dev of sample = 11.6

- one tailed t-test since we are only looking for underfed children (lower than 85)

+ H0 - No difference between the boys sample and population
+ HA - Weight distribution is significantly lower than for children at their age

In [5]:
# define all the variables

sample_mean = 80.94
pop_mean = 85
sample_std = 11.6
n = 25

In [11]:
# calculate the t statistic

# (sample_mean - pop_mean) / (sample_std/sqrt(n-1))

t_score = (sample_mean - pop_mean) / (sample_std/(math.sqrt(n-1)))

t_score

-1.7146428199482255

In [12]:
# 0.05 conventional threshold -> critical value

critical_value = norm.ppf(0.05)
critical_value

-1.6448536269514729

In [15]:
# on the one tailed t test we have evidence of a statistically significant
# difference in the means - suggests that we should reject H0

# p value is it less than 0.05?

p_value = norm.cdf(t_score)
p_value

0.04320536648684992

### Summary

From our two tests - t test and p value we accept Ha

In [17]:
import pandas as pd

In [18]:
data = pd.read_excel('anova_class_example_data.xlsx', sheet_name = 'data_collected')

In [19]:
data.head()

   Display_design  Percent_increase_in_sales
0               1                        575
1               2                        565
2               3                        600
3               4                        725
4               1                        542

In [20]:
import statsmodels.api as sm

In [21]:
from statsmodels.formula.api import ols

In [23]:
# ~C(Display_design) compare initial column to this one


model = ols('Percent_increase_in_sales ~C(Display_design)', data = data).fit()

In [24]:
results_table = sm.stats.anova_lm(model)

In [25]:
results_table

                     df    sum_sq       mean_sq          F        PR(>F)
C(Display_design)   3.0  66870.55  22290.183333  66.797073  2.882866e-09
Residual           16.0   5339.20    333.700000        NaN           NaN