In [3]:
import pandas as pd
import numpy as np

In [4]:
#new library

import time
from datetime import date

In [6]:
#check working directory
!pwd

/Users/andrenovikov/Documents/Repos/IronAndre/Week 1/Pandas Intro

In [7]:
#define data frame as csv file import

web_data = pd.read_csv('web_data.csv')

In [8]:
web_data.shape

(343141, 6)

In [9]:
#check data frame structure

web_data.head()

,web_id,client_id,visitor_id,visit_id,process_step,date_time
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:27
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/17 15:26
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:19
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/17 15:19
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:18

In [10]:
#check if date_time has been accepted as datetime

web_data.dtypes

web_id           int64
client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [11]:
web_data['date_time'] = pd.to_datetime(web_data['date_time'], errors = 'coerce')

In [12]:
web_data['date_time'][321].date()

datetime.date(2017, 4, 7)

In [72]:
#format an index to preferred format

web_data['date_time'][321].strftime(format = '%B')

'April'

In [73]:
web_data['Month'] = pd.DatetimeIndex(web_data['date_time']).month

In [78]:
web_data['Day'] = pd.DatetimeIndex(web_data['date_time']).day

In [81]:
#query for certain day of the week

web_data.query('Day==10')

,web_id,client_id,visitor_id,visit_id,process_step,date_time,Month,Day
67,67,2519971,121616091_57089151674,428599802_30402877972_724989,confirm,2017-04-10 16:21:00,4,10
68,68,2519971,121616091_57089151674,428599802_30402877972_724989,confirm,2017-04-10 16:19:00,4,10
635,635,7276973,627003452_19249388085,117895119_16501051592_422436,step_3,2017-04-10 19:00:00,4,10
636,636,7276973,627003452_19249388085,117895119_16501051592_422436,step_2,2017-04-10 18:58:00,4,10
637,637,7276973,627003452_19249388085,117895119_16501051592_422436,step_1,2017-04-10 18:57:00,4,10
...,...,...,...,...,...,...,...,...
342699,342699,6218213,46682116_29129401247,109794854_38827776110_737663,step_2,2017-04-10 13:57:00,4,10
342700,342700,6218213,46682116_29129401247,109794854_38827776110_737663,step_1,2017-04-10 13:57:00,4,10
342701,342701,6218213,46682116_29129401247,109794854_38827776110_737663,start,2017-04-10 13:57:00,4,10
342702,342702,5761946,430669178_36342190495,57127250_50441598218_373661,step_1,2017-04-10 13:17:00,4,10
342703,342703,5761946,430669178_36342190495,57127250_50441598218_373661,start,2017-04-10 13:17:00,4,10

In [84]:
#query for saturdays only

web_saturdays = web_data.loc[web_data['date_time'].dt.weekday == 5]
web_saturdays.head()

,web_id,client_id,visitor_id,visit_id,process_step,date_time,Month,Day
354,354,2709011,664541274_97144910167,235162568_43115336410_822881,start,2017-04-08 12:33:00,4,8
355,355,9900469,210215964_20090640456,3461145_4721576513_877614,start,2017-04-01 19:02:00,4,1
357,357,6229916,483835308_26502657270,230630559_77569449276_549196,confirm,2017-04-01 16:29:00,4,1
358,358,6229916,483835308_26502657270,230630559_77569449276_549196,confirm,2017-04-01 16:27:00,4,1
366,366,4773291,587236617_20429853618,504295674_94485333270_228899,start,2017-04-08 04:49:00,4,8

In [80]:
web_data.head()

,web_id,client_id,visitor_id,visit_id,process_step,date_time,Month,Day
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:00,4,17
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:00,4,17
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:00,4,17
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:00,4,17
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:00,4,17

In [86]:
date.today()

datetime.date(2021, 6, 4)

In [87]:
time.localtime(time.time())

time.struct_time(tm_year=2021, tm_mon=6, tm_mday=4, tm_hour=12, tm_min=1, tm_sec=39, tm_wday=4, tm_yday=155, tm_isdst=1)